@import "../../../styles/responsive.scss";
.navbar {
  width: 100%;
  height: 100px;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  @include md{
    height: 80px;
  }
  .navContainer {
    margin: 0 auto;
    padding: 10px 60px;
    height: 100%;
    @include sm{
      padding: 10px 25px;
    }
    .navbarContent {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .branding {
        flex: auto;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 36px;
        text-align: center;
        font-weight: 700;
        color: white;
        .innertext {
          width: 7px;
          height: 7px;
          background-color: white;
        }
        @include md{
          flex: none;
        }
      }
      .navLinks {
        flex: auto;
        .navLinksContainer {
          display: flex;
          gap: 30px;
          .divisions{
            position: relative;
            .divisionsText{
              outline: none;
              
            }
            .divisionsMenu{
              transition-delay: 2s;
              height: max-content;
              width: 200px;
              position: absolute;
              background-color: white;
              top: 40px;
              border-radius: 10px;
              padding: 10px;
              .divisionsContent{
                display: flex;
                flex-direction: column;
                li{
                  border-radius: 10px;
                  list-style: none;
                  padding: 10px 15px;
                  &:hover{
                    background-color: blue;
                    color: white;
                    cursor: pointer;
                  }
                }
              }
              &:hover{
                display: block;
              }
            }
          }
        }
      }
      .navBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        color: white;
        font-size: 20px;
        cursor: pointer;
        &:hover {
          background-color: white;
          color: black;
        }
      }
      .menuIcons {
        display: none;
        position: relative;
        .dragHandle {
          color: white;
          position: absolute;
          right: 20px;
          @include sm{
            right: 13px;
          }
        }
        .closeIcon {
          color: white;
          position: absolute;
          right: 20px;
          @include sm{
            right: 13px;
          }
        }
      }
      .navmenu {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background-color: black;
        overflow-x: hidden;
        @include md{
          top: 80px;
        }
        .menuLinksContainer {
          height: 100vh;
          display: flex;
          flex-direction: column;
          
          .menuBtnContainer{
            padding: 20px 60px;
            @include sm{
              padding: 20px 25px;
            }
            .menuBtn {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 8px;
              color: white;
              font-size: 20px;
              cursor: pointer;
              &:hover{
                background-color: white;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}
.navLinkFont {
  padding: 3px 0;
  list-style: none;
  color: white;
  &:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
  }
}
.menuLinkFont {
  padding: 30px 60px;
  color: white;
  list-style: none;
  @include sm{
    padding: 30px 25px;
  }
  &:hover {
    background-color: blue;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .navLinks {
    display: none;
  }
  .navBtn {
    display: none !important;
  }
  .menuIcons {
    display: flex !important;
    align-items: center;
  }
  .linkFont {
    font-size: 30px !important;
  }
  .menuBtn{
    font-size: 30px !important;
  }
}