@import '../../../styles/responsive.scss';
.footer {
  width: 100%;
  height: max-content;
  background-color: black;
  .footerContainer {
    margin: 0 auto;
    padding: 30px 60px;
    height: 100%;
    @include md{
      width: max-content;
    }
    @include sm{
      width: 100%;
      padding: 30px 25px;
    }
    .footerContent {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 30px;
      @include md{
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: max-content;
      }
      .brandingContainer{
        height: 160px;
        flex: 1;
        .branding {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 36px;
          text-align: center;
          font-weight: 700;
          color: white;
          .innertext {
            width: 7px;
            height: 7px;
            background-color: white;
          }
        }
      }
      .footerSub {
        height: 160px;
        flex: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 7px;
        @include md{
          height: max-content;
        }
        .footerSubHeading {
          // font-family: 'Urbanist';
          font-size: 15px;
          width: max-content;
          color: white;
          font-weight: 400;
          border-bottom: 1px solid white;
          margin-bottom: 10px;
        }
        .footerText {
          font-size: 13px;
          display: flex;
          align-items: center;
          gap: 5px;
          color: grey;
          justify-content: center;
        }
      }
    }
  }
}
