.headingFont{
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
}
.subheadingFont{
    font-size: 26px;
    font-weight: 500;
}
.textFont{
    font-size: 18px;
    font-weight: 300;
}
.linkFont{
    font-size: 20px;
    font-weight: 400;
}